:root {

    /* =========================
       COLORES PRINCIPALES
    ========================= */

    --negro: #000000;
    --negro-suave: #070a09;

    --blanco: #ffffff;

    --verde: #00ff66;
    --verde-neon: #39ff88;


    /* =========================
       GRISES
    ========================= */

    --gris: #a0a0a0;
    --gris-oscuro: #666666;


    /* =========================
       SUPERFICIES Y BORDES
    ========================= */

    --superficie: #111412;

    --borde: rgba(255, 255, 255, 0.15);


    /* =========================
       CONTENEDOR
    ========================= */

    --contenedor: 1200px;


    /* =========================
       BORDES
    ========================= */

    --radio: 12px;

}
